.banner{
    width: 100%;
    min-height: 50vh;
    color: white !important;
    background-image: linear-gradient(to left, rgba(0,0,0,0.1),rgba(0,0,0,.9)), url(../images/banner.jpg)  ;
    background-position: center ;
    background-size: cover;
}
.jobs{
    padding: 5% 0;

}
.jobs ul{
    text-align: center;
    /* align-items: center; */
}

